@import url(https://fonts.googleapis.com/css?family=Hind+Vadodara:400,700);
body,
html {
  height: 100%;
  width: 100%;
  margin: auto;
  font-family: 'Hind Vadodara', sans-serif;
}
#main-div {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #4a4e55;
}
/**
 * Navigation Bar
 */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 40px;
  background-color: #1c1e23;
  display: flex;
  align-content: stretch;
  align-items: stretch;
  flex-direction: column;
}
.navbar .navbar-title {
  color: #c8c8c8;
}
.navbar .navbar-center-content {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  height: 20px;
  align-items: baseline;
  flex-direction: row;
}
.navbar h2.navbar-title {
  margin-top: 0;
}
.navbar h4.navbar-title {
  margin-left: 15px;
  margin-top: 10px;
  color: #60c3fc;
}
.navbar div.spacer {
  flex: 1;
  width: 30px;
  height: 100%;
}
.navbar select.pulldown {
  background: #c8c8c8;
  color: #141414;
  border-radius: 5px;
  margin-top: 10px;
}
.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #4a4e55;
  /**
   * Table
   */
}
.content div.under-navbar {
  height: 40px;
  width: 100%;
}
.content .query-frame {
  display: flex;
  height: 30px;
  padding: 9px 15px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #3b3f4b;
  border-bottom: 1px solid #292c34;
  box-shadow: rgba(255, 255, 255, 0.08) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.2) 0px 0px 0px 1px;
}
.content .query-frame i.btn {
  color: #c8c8c8;
}
.content .query-frame button.btn-icon {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.content .query-frame .query-grp {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  border-radius: 13px;
  align-items: center;
  background-color: #c8c8c8;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.7) inset, 0 -1px 1px rgba(0, 0, 0, 0.8);
}
.content .query-frame .query-grp .query-input {
  flex: 1;
  border: none;
  padding-left: 20px;
  background-color: transparent;
  color: #141414;
}
.content .query-frame .query-grp .query-input::-webkit-input-placeholder,
.content .query-frame .query-grp .query-input-mod-placeholder {
  color: grey;
}
.content .query-frame .query-grp .query-input:focus {
  outline: 0;
}
.content .query-frame .query-grp button {
  height: 24px;
  width: 24px;
  padding: 0px;
  margin-right: 5px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.content .query-frame .query-grp button.btn-sm {
  width: 20px;
}
.content .query-frame .query-grp button .subtle:active,
.content .query-frame .query-grp .sm:active,
.content .query-frame .query-grp .btn:active {
  color: #60c3fc;
}
.content .query-frame .query-grp button i {
  text-align: left;
}
.content .query-frame .query-grp button .subtle {
  color: grey;
}
.content .table-frame {
  flex: 1;
  box-shadow: rgba(255, 255, 255, 0.08) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.2) 0px 0px 0px 1px;
}
.content .table-frame table {
  border-collapse: collapse;
}
.content .table-frame table tr:nth-child(odd) {
  background-color: #41444a;
}
.content .table-frame table tr.tr-header:hover {
  background-color: inherit;
}
.content .table-frame table tr:hover {
  background-color: rgba(96, 195, 252, 0.4);
}
.content .table-frame table th.fx {
  background-color: #3d424e;
  border-bottom: 1px solid #5c5c5c;
}
.content .table-frame table th.main-header {
  border-top: 1px solid #5c5c5c;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #959595;
}
.content .table-frame table td,
.content .table-frame table th {
  text-align: left;
  padding-left: 18px;
  padding-right: 18px;
}
.content .table-frame table td {
  color: #c8c8c8;
  font-size: .9em;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.content .table-frame table .md-9 {
  font-size: 16px!important;
  border: 0;
}
